$width: 100px;
$height: 50px;
button {
  width: $width;
  height: $height;
  font-size: 20px;
  color: white;
  background-color: rgb(35, 112, 255);
  border-radius: 50px;
  border: black solid 3px;
  cursor: pointer;
}
button:hover {
  width: $width + 10px;
  height: $height + 10px;
  border: black solid 2px;
  
}
.logo{
  margin-top: 100px;
  height: auto;
  width: 80%;
  border-radius:500px;

}
