img {
  width: 80%;
  height: 50%;
  border-radius: 5px;
}
.card {
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  margin-bottom: 20px;
  padding-top: 10px;
  cursor: pointer;
  min-width: 200px;
}
.card:hover {
  background-color: rgb(0, 247, 255);
}

